---
const { caseStudy, serviceDescription } = Astro.props;
---

<!-- Wrapper -->
<div class="group @container">
  <!-- Case study -->
  <article
    class:list={[
      "relative isolate flex flex-col h-full w-full gap-6 overflow-hidden rounded-2xl shadow-lg bg-[#18122b] border border-[#eee] transition-transform duration-300 hover:scale-105",
      caseStudy.bg,
    ]}
    style="min-height: 480px;"
  >
    <img
      src={caseStudy.image}
      alt={caseStudy.image_alt}
      class="object-cover w-full h-56 rounded-t-2xl"
      loading="lazy"
      height="224"
      width="400"
    />
    <!-- Content -->
    <div class="z-10 flex flex-col gap-4 p-6 flex-1">
      <!-- Header -->
      <header class="flex flex-col gap-1">
        <div
          class="text-xs uppercase tracking-widest font-semibold text-[#7c6fd6]"
        >
          {caseStudy.sector}
        </div>
        <h2 class="text-xl font-bold text-[#fff]">{caseStudy.title}</h2>
      </header>
      <div class="text-base text-gray-200">{caseStudy.description}</div>
      <div class="flex-grow"></div>
      <button
        class="bs-btn mt-4 w-full"
        style="background-color: #554a8e; color: #fff; font-weight: 600;"
        onclick="demo.showModal()">Reservar este servicio</button
      >
    </div>
  </article>
</div>
