---
import CardCaseStudy from "./CardCaseStudy.astro";
import services from "../data/services.json";
---

<section class="bs-container bs-mt-lg" id="servicios">
  <!-- Header -->
  <h2 class="bs-h2 text-center md:text-left">Servicios</h2>

  <!-- Servicio principal -->
  <div class="bs-mt-md">
    <CardCaseStudy
      caseStudy={services[0]}
      serviceDescription={services[0].description}
    />
  </div>

  <!-- Otros servicios -->
  <div class="mt-8 grid lg:grid-cols-2 gap-8">
    <CardCaseStudy
      caseStudy={services[1]}
      serviceDescription={services[1].description}
    />
    <CardCaseStudy
      caseStudy={services[2]}
      serviceDescription={services[2].description}
    />
  </div>
</section>
